= form_for @group_member, url: group_group_members_path(@group), html: { class: 'users-project-form users-group-form' } do |f|
  .row
    .col-md-4.col-lg-6
      = users_select_tag(:user_ids, group_member_select_options)
      .form-text.text-muted.append-bottom-10
        搜索已存在的成员或者使用他们的邮箱地址邀请。

    .col-md-3.col-lg-2
      = select_tag :access_level, options_for_select(GroupMember.access_level_roles, @group_member.access_level), class: "form-control project-access-select"
      .form-text.text-muted.append-bottom-10
        = link_to "点击这里", help_page_path("user/permissions")
        了解更多关于角色权限的介绍。

    .col-md-3.col-lg-2
      .clearable-input
        = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date', placeholder: '访问到期日期'
        %i.clear-icon.js-clear-input
      .form-text.text-muted.append-bottom-10
        到此日期，该成员将自动失去对此群组及其所有项目的访问权限。

    .col-md-2
      = f.submit '添加到群组', class: "btn btn-success btn-block"
